.ChoosePool{
    width: 100vw;
    text-align: center;
    .choose-links{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        a{
            color: aqua;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            position: relative;
            &::after{
                content: "";
                width: 0;
                height: 2px;
                bottom: 0;
                position: absolute;
                background-color: aqua;
                left: 50%;
                transition: all ease-in-out 0.3s;
            }
            &:hover{
                transform: scale(1.1);
                &::after{
                    width: 100%;
                    left: 0%;
                }
            }
        }
    }
}